<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form action="/update/{{contact.0}}" method="post">
        <input type="text" name="fullname" placeholder="Nombre Completo" value="{{contact.1}}">
        <input type="text" name="phone" placeholder="Telefono" value="{{contact.2}}">
        <input type="text" name="email" placeholder="Correo" value="{{contact.3}}">

        <button type="submit">
            Guardar
        </button>
        

    </form>


</body>
</html>